@font-face {
    font-family: "Moon";
    src: url("font.woff2");
}

* {
    font-family: "Moon";
}

body {
    background: #11111b;
    color: #cdd6f4;
    margin: 0;
    overflow-x: hidden;
}

nav {
    position: sticky;
    box-sizing: border-box;
    top: 0;
    right: 0;
    background: #181825;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    border-bottom: 5px solid #7f849c;
}

@media screen and (max-width: 598px) {
    nav {
        height: 15vh;
        flex-direction: column;
    }

    #container {
        height: 85vh;
    }
}

nav>ul {
    list-style: none;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 10vh;
    margin: 0;
    padding: 0;
}

nav h2 {
    margin: 0;
    font-size: 5vh;
}

nav h1 {
    font-size: 5vh;
    margin: 0;
}

nav h1>img {
    width: 5vh;
    height: 5vh;
}

nav a {
    color: #cdd6f4;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

#search-form {
    display: flex;
    height: 5vh;
}

#search {
    box-sizing: border-box;
    background: #1e1e2e;
    color: #cdd6f4;
    width: 45vw;
    height: 100%;
    font-size: 3vh;
    border: 2px solid #7f849c;
    border-radius: 1vh 0 0 1vh;
    border-right-width: 1px;
    margin: 0;
    padding: 0;
    padding-left: 5px;
}

#search::placeholder {
    color: #7f849c;
}

#submit-search {
    padding: 0;
    background: #1e1e2e;
    color: #cdd6f4;
    font-size: 4vh;
    border: 2px solid #7f849c;
    border-left-width: 1px;
    border-radius: 0 1vh 1vh 0;
    width: 5vh;
    height: 100%;
    margin: 0;
    line-height: 5vh;
    cursor: pointer;
}

#container {
    position: relative;
    width: 100vw;
    height: 90vh;
    overflow-x: scroll;
    padding-left: 1vh;
    box-sizing: border-box;
}

#docs {
    margin: 0;
    padding: 0;
    font-size: 3vh;
    list-style: none;
}

#docs>li:not(:last-child) {
    margin-bottom: 3vh;
}

#docs span {
    white-space: pre;
}

span.container {
    position: relative;
    width: 1ch;
    height: 3vh;
    display: inline-block;
}

p.tooltip {
    position: absolute;
    margin: 0;
    background-color: #1118;
    backdrop-filter: blur(2px);
    border: 1px solid #eee8;
    transform: translateX(-50%);
    left: 50%;
    top: 100%;
    border-radius: 1vh;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.25s ease-out;
    pointer-events: none;
}

span.container:has(span:hover) p.tooltip {
    opacity: 1;
}

summary::marker {
    content: '🮦';
    color: #7f849c;
}

details[open]>summary::marker {
    content: '🮧';
}

details>summary.no-dropdown::marker {
    content: '\a0';
}

summary:hover::marker {
    color: #cdd6f4;
}

.rest {
    padding-left: 4ch;
}

.code {
    background: #1e1e2e;
    border-radius: 1vh;
}

/* golf.html */

#input-container {
    display: inline-block;
    width: calc(100% - 1vh);
    position: relative;
    resize: both;
    font-size: 3vh;
}

#golf-input {
    width: 100%;
    height: 30vh;
    font-size: inherit;
    text-wrap: nowrap;
}

#golf-overlay {
    padding: 0;
    position: absolute;
    top: 0;
    pointer-events: none;
    background: #181825;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: scroll;
    text-wrap: nowrap;
}

#explanation-content {
    font-size: 3vh;
    padding-left: 0;
}

#palette {
    margin: 0;
    padding-left: 4ch;
}

#palette span:not(:has(span)):hover {
    text-decoration: underline;
}

#explanation-content pre {
    margin: 0;
}

.comment-input {
    display: inline;
    background: none;
    border: none;
    min-width: 1ch;
    height: 3vh;
    font-size: 3vh;
    field-sizing: content;
    color: #24f115;
}

.comment-input:hover {
    box-sizing: border-box;
    border: 1px solid gray;
}

.delete-button {
    color: #b988a2;
    cursor: pointer;
}

.button {
    color: #7f849c;
    cursor: pointer;
}

.button:hover,
.button:focus {
    color: #cdd6f4;
}

.delete-button:hover,
.delete-button:focus {
    color: #f38ba8;
}

#info {
    min-height: 1rem;
}

#info-button {
    margin: 0;
    font-size: unset;
    height: unset;
}

#info-text {
    display: inline-block;
    white-space: pre-line;
    text-wrap: nowrap;
}
